.experiencia {
    width: 100%;
    height: 100vh;
    align-content: center;
    font-family: "Comic Relief", system-ui;

}


.grid-experiencia {
    place-items: center;
}

.titulo-seccion {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--verde-oscuro);
    margin: 6rem 0 2rem 0;
    text-align: center;
}



.intro-experiencia {
font-family: "Comic Relief", system-ui;
font-size: 1.2rem;
color: var(--texto);
max-width: 700px;
margin: 0 auto 3rem auto;
line-height: 1.6;
text-align: center;
}

.go-back {
    text-align: center;
}

i {
    font-size: 200%;
    margin: 0 10px;
    color: var(--verde-medio);
}

.pieza-experiencia {
    display: flex;
    border-radius: 1.5rem;
    padding: 2rem;
    margin: 20px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    max-width: 950px;
    min-height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--verde-medio);
}

.empresa-fecha {
    align-self: end;
}

.pieza-experiencia:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.pieza-experiencia .contenido {
        display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pieza-experiencia h3 {
    color: var(--marron-suave);
    margin: 0 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
}

.pieza-experiencia p {
    color: var(--verde-negruzco);
    margin: 0.5rem 0;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: "Comic Relief", system-ui;

}

        
.intro-experiencia span {
color: var(--verde-medio);
font-weight: 600;
}

.arrow{
    width: 100%;
    text-align: end;
    position: fixed;
    bottom: 30px;
    right: 30px;

    i{
        margin:10px 50px;
        font-size: 50px;
    }
}


@media (max-width: 768px) {
.pieza-puzzle-proyecto {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-proyecto {
    width: 100%;
    max-width: 100%;
    }

.pieza-puzzle-proyecto .contenido {
    text-align: center;
    align-items: center;
}

.tecnologias {
    justify-content: center;
}

.boton {
    margin-left: auto;
    margin-right: auto;
}
}







