
<section id="proyectos" class="proyectos">
    <h2 class="titulo-seccion">Mis proyectos</h2>
    <p class="intro-proyectos">
        Aquí puedes ver algunos de los proyectos que he desarrollado como desarrolladora full stack. Cada uno refleja mi evolución, lo que he aprendido y cómo afronto los retos de construir ideas desde cero. ¡Cada proyecto es una pieza más en este puzzle creativo!
    </p>
    <p class="go-back">
        <a routerLink="/home">
            <i class="fa-solid fa-reply-all"></i>
        </a>
    </p>

        <div class="icons">
        <a href="https://www.instagram.com/chipixvi/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/laura-moreno-chipi/" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/CHIPIXB" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div class="grid-proyectos">
        @for (proyecto of proyectos; track proyecto._id) {
            <article class="pieza-puzzle-proyecto">
                <img src="{{ proyecto.imagenDesktop }}" alt="Vista del proyecto" class="img-proyecto" />
            <div class="contenido">
                <h3>{{ proyecto.nombre }}</h3>
                <p>{{ proyecto.descripcion }}</p>

                <div class="tecnologias">
                @for (tech of proyecto.tecnologias; track tech) {
                    <img 
                    [src]="iconosTecnologia[tech]" 
                    [alt]="tech" 
                    title="{{ tech }}" 
                    width="50" 
                    height="50" 
                    class="me-2"
                    />
                }
                </div>

                <a href="{{ proyecto.url }}" target="_blank" class="boton">Ver en GitHub</a>
                <p class="fechas">{{ proyecto.fechaInicio | date: "dd/MM/yyyy" }} – {{ proyecto.fechaFin | date: "dd/MM/yyyy" }}</p>
            </div>
            </article>
        }
    </div>
</section>

<div class="arrow">
    <a href="proyectos" class="boton-subir">
        <i class="fa-regular fa-hand-pointer"></i>
    </a>
</div>

