
<header>
    <h1>CHIPIDEV</h1>
</header>

<main>
    <section class="hero">
        <h2>¡Hello Chipers! Bienvenidos a mi portfolio. Aquí no solo veréis mi recorrido laboral, sino que también me conoceréis un poco más de manera personal. Ya que creo que es tan importante saber qué proyectos se han hecho y que conocimientos se han adquirido como lo que uno es capaz de ofrecer por su forma de ser y pensar. Gracias por el tiempo, espero que contactemos y conectemos pronto.</h2>
    </section>
    
    
    <nav class="saber-mas">
        <h3>Saber más</h3>
        <ul class="piezas-puzzle">
            <li>
                <a routerLink="/proyectos" class="pieza-puzzle">Proyectos</a>
            </li>
            <li>
                <a routerLink="/experiencia" class="pieza-puzzle">Experiencia</a>
            </li>
            <li>
                <a routerLink="/formacion" class="pieza-puzzle">Formación</a>
            </li>
            <li>
                <a routerLink="/contacto" class="pieza-puzzle">Contacto</a>
            </li>
        </ul>
    </nav>  
</main>






