
<main class="home">
    <div class="icons">
        <a href="https://www.instagram.com/chipixvi/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/laura-moreno-chipi" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/CHIPIXB" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>

    <section class="intro container">
        <h1>¡Hola! Soy <span>Chipi</span></h1>
        <p>
        Este es mi portfolio. Aquí no solo te muestro lo que sé hacer como <span>desarrolladora full stack</span>,
        también te cuento un poco sobre mí: cómo trabajo, qué disfruto y qué valores me mueven. ¿Dónde tendrás que clicar para saber más de mí?
        </p>

        <section class="puzzle-grid container">
            <div class="puzzle">
                <a routerLink="/proyectos">Proyectos</a>
            </div>
            <div class="puzzle">
                <a routerLink="/experiencia">Experiencia</a>
            </div>
            <div class="puzzle">
                <a routerLink="/formacion">Educación</a>
            </div>
            <div class="puzzle">
                <a routerLink="/contacto">Contacto</a>
            </div>
        </section>
    </section>

</main>








